<div class="content-wrapper bg-white" style="min-height: 916px;">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="text-center">Những Kỳ Đã Học</h2>
                <!--<div class="box box-borderless">-->
                <!--<div class="col-md-12">-->
                <div class="my-box">
                    <div class="col-md-8 col-xs-8">
                        <h3>Fall 2015</h3>

                        <p>From : 07/09/2015 - 16/01/2016</p>
                    </div>

                    <div class="col-md-4 col-xs-4">
                        <div class="dropdown pull-right">
                            <button class="btn btn-primary dropdown-toggle filter-term"
                                    type="button" data-toggle="dropdown">Học Kỳ 9
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Học Ky 2</a></li>
                                <li><a href="#">Học Ky 3</a></li>
                                <li><a href="#">Học Ky 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--</div>-->

                <div class="col-md-12">
                    <table class="table table-hover table-bordered table-responsive table-text-center">
                        <tbody>
                        <tr>
                            <th style="width: 10px">STT</th>
                            <th>Mã Môn</th>
                            <th>Tên Môn</th>
                            <th>Số Tín Chỉ</th>
                            <th>Half</th>
                            <th>Điểm Trung Bình</th>
                            <th>Trạng Thái</th>
                            <th>Ghi Chú</th>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                PRJ
                            </td>
                            <td>Advance Java</td>
                            <td>3</td>
                            <td>1</td>
                            <td>7.5</td>
                            <td>Passed</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                PRJ
                            </td>
                            <td>Advance Java</td>
                            <td>3</td>
                            <td>1</td>
                            <td>7.5</td>
                            <td>Passed</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                PRJ
                            </td>
                            <td>Advance Java</td>
                            <td>3</td>
                            <td>1</td>
                            <td>7.5</td>
                            <td>Passed</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                PRJ
                            </td>
                            <td>Advance Java</td>
                            <td>3</td>
                            <td>1</td>
                            <td>7.5</td>
                            <td>Failed</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                PRJ
                            </td>
                            <td>Advance Java</td>
                            <td>3</td>
                            <td>2</td>
                            <td>7.5</td>
                            <td>Failed</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                DB
                            </td>
                            <td>Introduction To Database</td>
                            <td>3</td>
                            <td>2</td>
                            <td>8</td>
                            <td>Pass</td>
                            <td>Học Lại</td>
                        </tr>

                        </tbody>
                    </table>
                </div>


                <!--</div>-->
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>