<div class="content-wrapper bg-white" style="min-height: 916px;">
    <!-- Content Header (Page header) -->
   <!-- <section class="content-header">
        <h1>
            Thông Tin Về Các Môn Chưa Hoàn Thành
        </h1>
       &lt;!&ndash; <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>&ndash;&gt;
    </section>-->

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-10 col-md-offset-1">
                <h2 class="text-center">Những Môn Chưa Hoàn Thành</h2>
                <div class="box box-borderless">
                    <table class="table table-hover table-bordered table-responsive table-text-center">
                        <tbody>
                        <tr>
                            <th style="width: 10px">STT</th>
                            <th>Mã Môn</th>
                            <th>Tên Môn</th>
                            <th>Số Tín Chỉ</th>
                            <th>Học Kỳ</th>
                            <th>Lý Do</th>
                            <th>Ghi Chú</th>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                PRJ
                            </td>
                            <td>Advance Java</td>
                            <td>3</td>
                            <td>Fall 2015</td>
                            <td>Nợ Môn</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                PRJ
                            </td>
                            <td>Advance Java</td>
                            <td>3</td>
                            <td>Fall 2015</td>
                            <td>Chưa Đủ Điều Kiện</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                PRJ
                            </td>
                            <td>Advance Java</td>
                            <td>3</td>
                            <td>Summer 2015</td>
                            <td>Nợ Môn</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>
                                PRJ
                            </td>
                            <td>Advance Java</td>
                            <td>3</td>
                            <td>Spring 2012</td>
                            <td>Nợ Môn</td>
                            <td></td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>