<div class="content-wrapper bg-white" style="min-height: 916px;"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="text-center">Bảng Học Phí Dự Kiến</h2>
                <p><b>Trần Khắc Vỹ</b> - SE60964</p>
                <p>Tình Trạng Tài Chính : Vay Tín Dụng 50%</p>

                <div class="box box-borderless">
                    <table class="table table-hover table-bordered table-text-center">
                        <tbody>
                        <tr>
                            <th style="width: 10px">STT</th>
                            <th>Mã Học Kỳ</th>
                            <th>Mô Tả</th>
                            <th>Số Tiền</th>
                            <th>Cần Đóng</th>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>PhiNH</td>
                            <td>
                                Phí Nhập Học
                            </td>
                            <td>4,400,000</td>
                            <td>4,400,000</td>
                        </tr>

                        <tr>
                            <td>2.</td>
                            <td>ENG1</td>
                            <td>
                                Tiếng Anh 1
                            </td>
                            <td>9,900,000</td>
                            <td>4,950,000</td>
                        </tr>

                        <tr>
                            <td>3.</td>
                            <td>ENG2</td>
                            <td>
                                Tiếng Anh 2
                            </td>
                            <td>4,400,000</td>
                            <td>2,200,000</td>
                        </tr>

                        <tr>
                            <td>4.</td>
                            <td>CN1</td>
                            <td>
                                Chuyên Ngành 1
                            </td>
                            <td>24,200,000</td>
                            <td>12,100,000</td>
                        </tr>

                        <tr>
                            <td>5.</td>
                            <td>CN2</td>
                            <td>
                                Chuyên Ngành 2
                            </td>
                            <td>24,200,000</td>
                            <td>12,100,000</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>