 <!-- sidebar menu: : style can be found in sidebar.less -->
 <ul class="sidebar-menu" xmlns:th="http://www.thymeleaf.org/">
            <li class="header">MAIN NAVIGATION</li>

            <li class="treeview">
                <a href="/student/hocphidukien">
                    <i class="fa fa-laptop"></i>
                    <span>Học Phí Dự Kiến</span>
                </a>
            </li>

            <li class="treeview">
                <a href="/student/cackydahoc">
                    <i class="fa fa-laptop"></i>
                    <span>Những Kỳ Đã Học</span>
                </a>
            </li>

            <li class="treeview">
                <a href="/student/cacmonchuahoanthanh">
                    <i class="fa fa-laptop"></i>
                    <span>Những Môn Chưa Hoàn Thành</span>
                </a>
            </li>

            <li class="treeview">
                <a th:href="@{/student/donghocphi}">
                    <i class="fa fa-laptop"></i>
                    <span>Trạng Thái Đóng Học Phí</span>
                </a>
            </li>

            <li class="treeview">
                <a th:href="@{/student/donghoclai}">
                    <i class="fa fa-laptop"></i>
                    <span>Trạng Thái Đóng Tiền Học Lại</span>
                </a>
            </li>

            <li class="treeview">
                <a href="/student/xemlaivay">
                    <i class="fa fa-laptop"></i>
                    <span>Xem Lãi Vay</span>
                </a>
            </li>

            <li class="treeview">
                <a href="/student/profile">
                    <i class="fa fa-laptop"></i>
                    <span>Thông Tin Cá Nhân</span>
                </a>
            </li>

        </ul>