<div class="content-wrapper bg-white" style="min-height: 916px;">

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Finance</h2>
                <!--Tong Ket-->
                <div class="col-xs-6 col-md-offset-3">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title text-center">Tổng Kết</h3>

                            <div class="box-tools pull-right">
                                <button type="button"
                                        class="btn btn-box-tool"
                                        data-widget="collapse"><i
                                        class="fa fa-minus"></i></button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="display: block;">
                            <table class="table table-hover borderless table-responsive">
                                <tbody>
                                <tr>
                                    <td><b>Dự Toán Thu</b></td>
                                    <td>500,000,000 (VNĐ)</td>
                                </tr>
                                <tr>
                                    <td><b>Tổng Số Tiền Đã Thu</b></td>
                                    <td>498,000,000 (VNĐ)</td>
                                </tr>
                                <tr>
                                    <td><b>Thiếu</b></td>
                                    <td>2,000,00 (VNĐ)</td>
                                </tr>
                                <tr>
                                    <td><b>Tổng Số Tiền Cho Vay</b></td>
                                    <td>200,000,000 (VNĐ)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>