<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" xmlns:th="http://www.thymeleaf.org/">
    <li class="header">MAIN NAVIGATION</li>

    <li class="treeview">
        <a href="/staff/nhap-thong-tin-sinh-vien">
            <i class="fa fa-laptop"></i>
            <span>Nhập Thông Tin Sinh viên</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/staff/nhap-thong-tin-tai-chinh">
            <i class="fa fa-laptop"></i>
            <span>Nhập Thông Tin Tài Chính</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/staff/nhap-ket-qua-hoc-tap">
            <i class="fa fa-laptop"></i>
            <span>Nhập Kết Qủa Học Tập</span>
        </a>
    </li>
</ul>