<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" xmlns:th="http://www.thymeleaf.org/">
    <li class="header">MAIN NAVIGATION</li>

    <li class="treeview">
        <a href="/admin/hocphi">
            <i class="fa fa-laptop"></i>
            <span>Danh Sách Thu Học Phí</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/admin/hoclai">
            <i class="fa fa-laptop"></i>
            <span>Sinh Viên Vay Tín Dụng</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/admin/hoclai">
            <i class="fa fa-laptop"></i>
            <span>Sinh Viên Ngưng Học</span>
        </a>
    </li>
</ul>