/*home.html*/

/*Model Student Profile*/
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

/*Student : cac ky da hoc*/
.filter-term{
    padding-left: 20px;
    padding-right: 20px;
}


.modal .modal-nor {
    width: 50%; /* respsonsive width */
    margin-left: 25%; /* width/2) */
}

/*Student Module*/
.bg-white {
    background-color: white;
}
.my-row{
    margin-top: 20px;
}

.box-borderless {
    border: none;
}

.table-text-center tbody td, .table-text-center tbody th,
.table-text-center thead tr th,
.table-text-center tfoot tr th {
    text-align: center;
}

.my-border{
    border-width: 1px 1px 2px;
    border-style: solid;
    border-top: none;
    border-right-color: #ccc!important;
    border-bottom-color: #ccc!important;
    border-left-color: #ccc!important;
}

.my-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}